<a href="https://colab.research.google.com/github/MUKESHRAJMAHENDRAN/Pandas_learning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
series = {
    'index' : [0, 1, 2, 3],
    'value' : [11, 22, 33, 44],
    'name' : 'test'
}

In [ ]:
series

{'index': [0, 1, 2, 3], 'value': [11, 22, 33, 44], 'name': 'test'}

In [ ]:
def get_val(series, idx):
  val_index = series['index'].index(idx)
  return series['value'][val_index]

get_val(series, 1)

22

In [ ]:
series_1 = {
    'index' : ['Paul' , 'John' , 'George', 'Ringo'],
    'value' : [11, 22, 33, 44],
    'name' : 'test'
}

In [ ]:
get_val(series_1, 'John')

22

In [ ]:
songs = pd.Series([11, 23, 44, 54, 36], name = 'count')

In [ ]:
songs[2]

44

In [ ]:
songs.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
songs_1 = pd.Series(
    [11, 22, 33, 44],
    index = ['Paul' , 'John' , 'George', 'Ringo'],
    name = 'count_1'
)

In [ ]:
songs_1

Paul      11
John      22
George    33
Ringo     44
Name: count_1, dtype: int64

In [ ]:
songs_1.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [ ]:
song_2 = pd.Series([26, np.nan, 46, np.nan],
                  index = ['Paul' , 'John' , 'George', 'Ringo'],
                  name = 'count_2')

In [ ]:
song_2

Paul      26.0
John       NaN
George    46.0
Ringo      NaN
Name: count_2, dtype: float64

In [ ]:
song_2.count()

2

In [ ]:
song_2.size

4